.text {
    font-size: 1.4rem;
    margin: 0;
    font-family: "AncizarSans", sans-serif;
    text-align: start;

    :global {
        b.highlight-green {
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            background-image: linear-gradient(90deg, rgb(151, 252, 126) 0%, rgb(207, 255, 168) 35.4519%, rgb(227, 254, 216) 71.6832%, rgb(204, 252, 126) 100%);
        }
    }

    &.mediumSize {
        font-family: "AncizarSans", sans-serif;
        font-weight: 500;
        font-size: 1.55rem;
    }

    &.smallSize {
        font-size: 1.05rem;
    }

    &.muted {
        color: #b4b4b4;

        span {
            color: #fff;
        }
    }

    &.bold {
        font-weight: 700;
    }
}