---
import Text from "../Text/Text.astro";
import styles from "./About.module.scss";
---



<div class={styles.container}>
    <Text smallSize muted
        >Actualmente trabajo como <b>Director de Marketing</b>. Anteriormente como jefe de desarrollo de software en el sector de
        la ingeniería industrial, con un total de 4 años en la misma organización.</Text
    >
    <Text smallSize muted
        >También llevo trabajando <b>5 años como autónomo</b> en el desarrollo, diseño
        de webs y aplicaciones móviles atrayendo tráfico con posicionamiento SEO
        y facturando con anuncios y afiliación con marcas.</Text
    >
    <Text smallSize muted
        >En mi stack tecnológico me encuentro cómodo con <b>Typescript, Scss, React Native (Expo),
        Next.js, MySQL,</b> entre otros.</Text
    >
</div>
