---
import styles from './Card.module.scss';
const { scroll } = Astro.props;
---
<div class={`${styles.container} ${scroll ? styles.scroll : ""} `}>
    <div class={styles.wrapper}>
        <slot />
    </div>
</div>