---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/Card.astro";
import Grid from "../components/Grid/Grid.astro";
import Overlay from "../components/Overlay/Overlay.astro";
import Text from "../components/Text/Text.astro";
import Tools from "../components/Tools/Tools.astro";
import Scroll from "../components/Scroll/Scroll.astro";
import Resources from "../components/Resources/Resources.astro";
import Timeline from "../components/Timeline/Timeline.astro";
import Tech from "../components/Tech/Tech.astro";
import Works from "../components/Works/Works.astro";
import About from "../components/About/About.astro";
import Info from "../components/Info/Info.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <Grid>
            <Card>
                <div style="position: relative">
                    <img class="profile" src="profile.jpg" />
                </div>
                <div class="row">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <style>
                            .user-1 {
                                animation: user-1 1s
                                    cubic-bezier(0.83, -0.07, 0, 1.04) both
                                    infinite alternate-reverse;
                            }
                            @keyframes user-1 {
                                0% {
                                    transform: translateY(0) translateX(0);
                                }
                                100% {
                                    transform: translateY(-1px) translateX(-2px);
                                }
                            }
                        </style>
                        <circle
                            class="user-1"
                            cx="12"
                            cy="8.245"
                            r="2.5"
                            stroke="rgb(204,252,126)"
                            stroke-width="1.5"></circle>
                        <ellipse
                            cx="12"
                            cy="15.926"
                            stroke="#fff"
                            stroke-width="1.5"
                            rx="5"
                            ry="2.329"></ellipse>
                    </svg>
                    <Text mediumSize bold>Soy Manuel</Text>
                </div>
                <Text muted
                    >Desarrollador y <b>emprendedor digital</b>. Construyendo un
                    portfolio de <Text isSpan>proyectos SEO, SaaS y ASO.</Text
                    ></Text
                >
            </Card>
            <Card>
                <div class="row">
                    <svg
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        ><style>
                            @keyframes rotate {
                                0% {
                                    transform: rotate(0);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }
                        </style><rect
                            width="16"
                            height="16"
                            x="4"
                            y="4"
                            stroke="#fff"
                            stroke-width="1.5"
                            rx="8"></rect><path
                            stroke="rgb(204,252,126)"
                            stroke-linecap="round"
                            stroke-width="1.5"
                            d="M12.021 12l2.325 2.325"></path><path
                            stroke="rgb(204,252,126)"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M12.021 12V6.84"
                            style="animation:rotate 2s linear infinite both;transform-origin:center"
                        ></path></svg
                    >
                    <Text mediumSize bold>Línea de tiempo</Text>
                    <Info content="Muchos proyectos no están incluidos para mantener su privacidad con socios" />
                </div>
                <Timeline />
            </Card>
            <Card>
                <div class="row">
                    <svg
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        ><style>
                            @keyframes slide-tr {
                                0% {
                                    transform: translateY(0) translateX(0);
                                }
                                to {
                                    transform: translateY(-2px) translateX(2px);
                                }
                            }
                        </style><path
                            stroke="#fff"
                            stroke-width="1.5"
                            d="M17.82 16.889a7 7 0 001.162-3.39A.473.473 0 0018.5 13h-6a.5.5 0 01-.5-.5v-6a.473.473 0 00-.5-.482 7 7 0 106.32 10.871z"
                        ></path><path
                            stroke="rgb(204,252,126)"
                            stroke-width="1.5"
                            d="M19 11c.552 0 1.009-.45.917-.995a6 6 0 00-4.922-4.922C14.451 4.992 14 5.448 14 6v4a1 1 0 001 1h4z"
                            style="animation:slide-tr 1s cubic-bezier(.47,0,.745,.715) infinite alternate-reverse both"
                        ></path></svg
                    >
                    <Text mediumSize bold>Recursos favoritos</Text>
                </div>
                <Resources />
            </Card>
            <Card>
                <div class="row">
                    <svg
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        ><style>
                            @keyframes rotate {
                                0% {
                                    transform: rotateZ(0);
                                }
                                to {
                                    transform: rotateZ(360deg);
                                }
                            }
                        </style><g
                            style="animation:rotate 3s cubic-bezier(.7,-.03,.26,1.05) both infinite;transform-origin:center center"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            ><path
                                stroke="#fff"
                                d="M5.262 15.329l.486.842a1.49 1.49 0 002.035.55 1.486 1.486 0 012.036.529c.128.216.197.463.2.714a1.493 1.493 0 001.493 1.536h.979a1.486 1.486 0 001.485-1.493 1.493 1.493 0 011.493-1.471c.252.002.498.071.714.2a1.493 1.493 0 002.036-.55l.521-.857a1.493 1.493 0 00-.542-2.036 1.493 1.493 0 010-2.586c.71-.41.952-1.318.543-2.028l-.493-.85a1.493 1.493 0 00-2.036-.579 1.479 1.479 0 01-2.029-.543 1.428 1.428 0 01-.2-.714c0-.825-.668-1.493-1.492-1.493h-.98c-.82 0-1.488.664-1.492 1.486a1.485 1.485 0 01-1.493 1.493 1.521 1.521 0 01-.714-.2 1.493 1.493 0 00-2.036.542l-.514.858a1.486 1.486 0 00.543 2.035 1.486 1.486 0 01.543 2.036c-.13.226-.317.413-.543.543a1.493 1.493 0 00-.543 2.028v.008z"
                                clip-rule="evenodd"></path><path
                                stroke="rgb(204,252,126)"
                                d="M12.044 10.147a1.853 1.853 0 100 3.706 1.853 1.853 0 000-3.706z"
                            ></path></g
                        ></svg
                    >
                    <Text mediumSize bold>Herramientas favoritas</Text>
                </div>

                <Tools />
            </Card>
            <Card>
                <div class="row">
                    <Text mediumSize bold>Acerca de mi</Text>
                </div>
                <About />
            </Card>
            <Card>
                <div class="row">
                    <Text mediumSize bold>Algunos de mis trabajos</Text>
                    <Info content="Actualmente poseo un portfolio de 21 aplicaciones y 8 páginas webs publicadas generando tráfico y rendimiento" />
                </div>
                <Works />
            </Card>
        </Grid>
    </main>
</Layout>
