.container {
    width: 100%;
    background-image: radial-gradient(circle farthest-side at 50% 20%,rgba(204,252,126,.1),rgba(204,252,126,0) 81%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    img {
        width: 100%;
        max-width: 100%;
    }
}