---
import Rrss from "../../components/rrss/Rrss.astro";
import Text from "../../components/Text/Text.astro";
import styles from "./Header.module.scss";
---

<header class={styles.container}>
    <div class={styles.wrapper}>
        <div class={styles.profile}>
            <img src="profile.jpg" />
            <a href="/"><Text mediumSize>Manuel Serrano Scholz</Text></a>
        </div>
    </div>
</header>