---
import Rrss from "../../components/rrss/Rrss.astro";
import styles from "./Header.module.scss";
---

<header class={styles.container}>
    <div class={styles.wrapper}>
        <div class={styles.profile}>
            <img src="profile.jpg" />
            <a href="/">@ManuelSerranoScholz</a>
        </div>

        <Rrss />
    </div>
</header>