---
import styles from "./Current.module.scss";
---

<div class={styles.container}>
    <div class={styles.wrapper}>
        <img src="/section8.png" />
        <img src="/section9.png" />
        <img src="/section7.png" />
        <img src="/section10.png" />
    </div>
</div>
