---
import Overlay from "../components/Overlay/Overlay.astro";
import Header from "./Header/Header.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portfolio de Manuel Serrano Scholz" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <Overlay />
        <slot />
    </body>
</html>
<style is:global>
    @font-face {
        font-family: "Soria";
        src: url("/fonts/soria-font.ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Yatra";
        src: url("/fonts/yatra.ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Poppins";
        src: url("/fonts/poppins-regular.ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Poppins";
        src: url("/fonts/poppins-semibold.ttf");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    :root {
        --dark: #131313;
        --green: rgb(204, 252, 126);
    }
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
    }
    body {
        color: #fff;
        font-size: 19px;
    }
    main {
        display: flex;
        width: 100%;
        max-width: 1350px;
        margin: auto;
        padding-bottom: 5rem;
        color: #fff;
    }
</style>
